.slick-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.slider-top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.slider-header {
  color: rgb(47, 61, 100);
  font-weight: 600;
}

.moving-arrow-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  margin-bottom: 8px;

  font-weight: bold;
}

.moving-arrow {
  border: 1px solid rgb(243, 243, 251);
  background-color: inherit;
  border-radius: 999px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
